# Python cache
__pycache__/
tensorboard_logs/
checkpoints/
*.pth
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python packaging
build/
dist/
*.egg-info/

# Logs
*.log

# VSCode
.vscode/

# MacOS
.DS_Store